{% extends 'layout.html' %}
{% block title %}DJ Pajton{% endblock %}

{% load songtime %}

{% block content %}
<pre>
	<!-- Test - {{ song.title }}<br />
	Time - <p id="songtext">Testing... testing!</p> {{ time|songtime }} / {{ length|songtime }}<br />
	Volume - {{ volume }}<br /> -->
	<p id="title"></p>
	<input id="time" type="range" min="0" max="{{ length }}" value="{{ time }}" width="500" style="width: 500px;" onchange=" $.get('/api/time/'+$(this).val()) ">
	<input id="volume" type="range" min="0" max="100" value="{{ volume }}" width="500" style="width: 500px;" onchange=" $.get('/api/volume/'+$(this).val()) ">
	<input type="button" value="Start" onclick="$.get('/api/start')">
	<input type="button" value="Stop" onclick="$.get('/api/stop')">
	<input type="button" value="Next" onclick="$.get('/api/next')">
	Queue: <input id="queue" type="text">
	<input type="button" value="Queue!" onclick="submitQueueField()">
	Playlist:
	Filter - title: <input id="filter-title" type="text" onkeyup="updateFilters()">
	<select id="playlist-select" multiple></select>
</pre>

<script type="text/javascript">

function updateFilters()
{	
	var list = $("#playlist-select");	
	reqTitle = $("#filter-title").val().toLowerCase()
	
	// Hide by title
	var a;
	for(a = 0; a < list.children().length; ++a)
	{
		var item = list.children()[a];
		var title = item.text.toLowerCase();
		
		item.hidden = (title.search(reqTitle) == -1)
	}
}

function timer()
{
	$.get(
		"/api/time", function(data) {
			$('#songtext').text(data);
			$('#song-progress').val(data);
		}
	);
	
	$.get(
		"/api/length", function(data) {
			$('#song-progress').attr("max", data);
		}
	);
	
	$.get(
		"/api/volume", function(data) {
			$('#song-volume').val(data);
		}
	);
}

function timerz()
{
	if(isPlaying)
	{
		$('#time').val(parseInt($('#time').val())+1);
	}
}

var isPlaying = false;
function updateStatus()
{
	$.getJSON(
		"/api/status", function(data, status, xhr) {
			$("#title").text(data.title);
			$("#time").attr('max', data.length);
			$("#time").val(data.time);
			$("#volume").val(data.volume);
			isPlaying = data.playing;
		}
	);
}

var recentLog = -1
function waitStatusChange()
{
	$.get(`/api/logger/wait/${recentLog}`, function(data) {
		recentLog = data;
		updateStatus();
		waitStatusChange();
	});
}

function addToQueueField(o)
{
	//alert($(this));
	//alert(Object.keys($(this)));
	//alert(Object.keys(o));
	//alert(o.context.text);
	//alert(o.context.value);
	
	var ids = $("#queue").val()
	if(ids.length > 0)
		ids = ids + " "
	ids = ids + o.context.value;
	
	$("#queue").val(ids)
	
	//alert(Object.keys(o.context));
}

function submitQueueField()
{
	var ids = $("#queue").val()
	
	if(ids.length == 0)
	{
		alert("Add something to queue...");
		return;
	}
	
	$.get(`/api/queue/${ids}`);
	$("#queue").val("")
}

var playlist;

$(document).ready(function () {
	$.getJSON(
		"/api/playlist", function(data, status, xhr) {
			playlist = data;
			var i;
			for(i = 0; i < data.length; i++)
			{
				var id = data[i].pk;
				var item = data[i].fields;
				var title = item.title;
				$("#playlist-select").append(`<option value="${id}" author="${item.user}" ondblclick="addToQueueField($(this))" >${title}</option>`);
			}
			
			updateFilters();
		}
	);
	
	updateStatus();
	waitStatusChange();
});

setInterval(timerz, 1000);
//setInterval(timer, 10000);
</script>
	
{% endblock %}